// /*================ Font-family ================*/
// $head_font: var(--main-header-font);
// $base_font: var(--main-body-font);
// $base_font_size: var(--base-font-size);

// /*================ Color ================*/
// $body_background_color: var(--body_background_color);
// $anchor_tag_color: var(--anchor_tag_color);
// $anchor_tag_hover_color: var(--anchor_tag_hover_color);
// $accent_color:var(--accent_color);

$color_black: #000000;
$color_white: #ffffff;

/*================ Button colors ================*/
// $btn_color: var(--btn_color);
// $btn_font_color: var(--btn_font_color);
// $btn_color_second: var(--btn_color_second);
// $btn_font_color_second: var(--btn_font_color_second);

/*================ Grid ================*/
$site_width_lg: 1400;
$site_width_md: 1200;
$site_width_sm: 1023;
$site_width_xs: 767;

/*================ Table color ================*/
$thead_background: #37474f;
$th_font_color: #fff;
$row_background_color: #f5f5f5;
$row_hover_color: #f2f2f2;
$table_border_color: #ddd;
/*================ Header ================*/
// $header_background: var(--header_background);
$header_background_color:#fff;
$header_font_famity:'Poppins', sans-serif;
$header_color:white;
$header_hover_color:white;
$header_hover:#F3941E;

/*================ button ================*/
$button_background_color:#F3941E;
$button_font_color:white;

$font-famity:'Poppins', sans-serif;


$section-background-color:#f4f8fb;

$footer_backround_color:#6f6fd2;
$footer-font-color:white;

$all-place-hero-image-text:#fff;

$headeing-color:#071C55;
$heading-font:'Playfair Display', serif;
$paragraph-color:#666;