.conatact-us {
    .contact-header {
        .contact-title {
            text-align: center;
            margin-top: 50px;
            h2 {
                color: $headeing-color;
                font-size: 50px;
                font-weight: 700;
                position: relative;
                padding-bottom: 30px;
                font-family: $heading-font;

                @include mq("phone") {
                    font-size: 33px;
                    font-weight: 500;
                }
                &::after {
                    position: absolute;
                    content: "";
                    width: 100px;
                    height: 3px;
                    background: $button_background_color;
                    bottom: 25px;
                    left: 50%;
                    @include transform(translate(-50%, -50%));
                }
            }
            .contact-discription {
                text-align: center;
                width: 50%;
                margin: 0 auto;
                @include mq("phone"){
                    width: 100%;
                }
                p {
                    font-size: 20px;
                    line-height: 30px;
                    margin-bottom: 0;
                    font-family: $font-famity;
                    color: $paragraph-color;
                    @include mq("phone"){
                        font-size: 18px;
                    }
                    
                }
            }
        }
    }
    .contact-map{
        margin: 25px 0;
        .copany-address{
            margin: 0 auto;
            max-width: 300px;
            display: block;
        }
    }
}
