.speacial-offer-warapper{
    margin-top: 100px;

    .special-offer-header {
        margin-bottom: 40px;
      h2{
        color: $headeing-color;
        font-size: 50px;
        font-weight: 700;
        position: relative;
        padding-bottom: 30px;
        font-family: $heading-font;
        @include mq("phone"){
            font-size: 33px;
        font-weight: 500; 
        }
        &::after{
            position: absolute;
            content: "";
            width: 100px;
            height: 3px;
            background:$button_background_color;
            bottom: 25px;
            left: 0px;
        }
      }
    }
    .special-offer-content{
        margin-bottom: 40px;
        .special-offer-content-wrapper{
            p{
                font-size: 20px;
                line-height: 30px;
                margin-bottom: 0;
                font-family: $font-famity;
                color: $paragraph-color;
            }
        }
    }
    .special-place-wrapper{
        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
        margin-bottom: 15px;
        
        a{
            text-decoration: none;
            color: $color_black;
        }
        .special-place-image{
            img{
                max-width: 100%;
            }
        }
        .special-place-content{
            padding: 30px 40px 30px 30px;
            .special-place-title{
                h3{
                    font-size: 22px;
                    font-weight: 500;
                    line-height: 1.2;
                    margin-bottom: 20px;
                    font-family: $font-famity;
                }
                p{
                    margin: 0;
                   i{
                        color: $button_background_color;
                    }
                span{
                    color: #3c3c3c;
                    font-size: 18px;
                }
                }
            }
            .special-place-discription{
                @include flexbox;
                @include flex-direction(row);
                @include justify-content(space-between);
                @include align-items(center);
                .special-place-location{
                    font-size: 18px;
                    font-family: $font-famity;

                    span{
                        
                        color: $button_background_color;
                    }
                }
                .special-place-price{
                    background-color:rgba(70, 87, 240, 0.1);
                    padding: 10px 10px;
                    font-size: 18px;
                    font-family: $font-famity;
                   
                    span{
                        color: $button_background_color;
                    }
                }
            }
        }
    }
}